# Dependency directories
node_modules/
jspm_packages
.vscode
dist

# Serverless directories
.serverless

# Webpack directories
.webpack

# misc
.env

# Tests
coverage
.nyc_output

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
npm-debug.log*